*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container img {
    width: 50px;
    height: auto;
}

.navbar-nav {
    justify-content: space-between;
    gap: 2rem;
}

.nav-item {
   margin-top: 4px;
   padding: 10px;
   font-size: 15px;
}

.nav-link {

    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
    position: relative;
    margin-left: 10px;
}

.nav-link::before {
content: '';
position: absolute;
width: 100%;
height: 4px;
border-radius: 4px;
background-color: #18272F;
bottom: 0;
left: 0;
transform-origin: right;
transform: scaleX(0);
transition: transform .3s ease-in-out;
}

.nav-link:hover::before {
transform-origin: left;
transform: scaleX(1);
}


.navbar-brand  {
text-transform: uppercase;
font-weight: bolder;
margin-left: 15px;
letter-spacing: 0.1rem;

}
.container a img {
width: 50px;
height: 40px;
margin-left: 2px;

}

.nav-item button{
font-size: 16px;  
text-transform: uppercase;
font-weight: bold;
letter-spacing: 2px;
color: #24A0ED;
margin-right: -10px;
}

.nav-item button:hover {
background-color: blue;
color: white;
cursor: pointer;
}

#feature-card {
    margin-top: 30px;
 }

 
form .btn{
   display: flex;
   float: right;
   margin-top: 20px;
}

.form-group input {
  margin-top: 2px;
}

.form-group label {
  margin-top: 20px;
}

.custom-underline {
    border: 0;
    border-bottom: 1px solid black;
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
    margin-top: 100px;
  }



/* end of navbar*/


/* banner */

.banner {
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-position: center;
 }

 
 .banner-text {
    padding: 20px;
    margin-top: 50px;
   }

.feature-post-container {
  margin-top: 100px;
}




/* feature styles */

.container-card {
  width: 100%;
  margin-top: 100px;
 }

 .feature-card {
  border: none;
  border-radius: 0;
  margin-bottom: 30px;
  margin-top: 10px;
}


.feature-img {
  height: 100%;
  width: 100%;
  display: flex;
}

.card-body {
  margin-top: 30px;
}

.card-body h5 {
  text-align: center;
}

.card-body p {
  text-align: center;
}


.feature-card .feature-img {
    margin: 0;
}

/*star rating*/

.rating {
  font-size: 24px;
}

.star {
  color: gold;
}

.star-empty {
  color: #bbb;
}

/*end of star rating*/


/* blog page */

.container-text-p {
  margin-top: 20px;
}

.blog-text-p p {
  text-align: center;
}

.blog-container {
  margin-top: 100px;
}

.blog-text h2 {
  text-align: center ;
  text-transform: uppercase;
  font-weight: 600;
}

.blog-image img {
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  margin-top: 10px;
}

    .container-table {
       margin-top: 10px;
    }

    .details table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    }
  
    .details td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
  
    .details tr:hover {
    background-color: #f5f5f5;
    }
  
 /* end of blog page /*

 



    



